@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@font-face {
  font-family: 'VAG Rounded';
  src: url('./fonts/VAG\ Rounded\ Regular.ttf') format('truetype');
}

:root {
  --background: #FFFAEF;
  --text: black;
  --secondary: #1A73E8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: var(--background);
  color: var(--text);
}

/* #FFFAEF */