@font-face {
  font-family: 'VAG Rounded';
  src: url('./fonts/VAG\ Rounded\ Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #FFFAEF;
}